.footer{
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 97%;
    height: 64px;
    background-color: rgb(47, 45, 45);
    color: white;
    display: flex;
    justify-content: space-between;

    
}

.footer_left{
    flex:0.3;
    display: flex;
    align-items: center;
    width: 300px;
}
.footer_center{
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    padding: 0 100px;

}
.footer_right{
    flex:0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    
}
.footer_right * .MuiSlider-root{
    color: rgb(16, 226, 65);

}

.footer_albumLogo{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 20px;

}
.footer_green{
    color: rgb(16, 226, 65);
}

.footer_songInfo > h4 {
    margin-bottom: 5px;
}

.footer_songInfo > p{
    font-size: 12px;
}

.footer_icon:hover,
.footer_green:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
